.breadcrumb {
  color: gray;
  display: flex;
  gap: 1em;
  list-style: " > ";
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 1em;

  li {
    text-transform: capitalize;

    &:first-child {
      list-style: none;
    }
  }
}